[Unit]
Description=Cyberdeck OS X11 Kiosk
After=network.target graphical.target plymouth-quit-wait.service systemd-user-sessions.service

[Service]
Type=simple
User=alana
WorkingDirectory=/home/alana/cyberdeck
Environment="DISPLAY=:0"
Environment="SDL_AUDIODRIVER=alsa"
# Start X server on VT7 without a cursor
ExecStartPre=-/usr/sbin/iwconfig wlan0 power off
ExecStart=/usr/bin/xinit /usr/bin/python3 -m cyberdeck.main -- :0 vt7 -nocursor -s 0 dpms
Restart=on-failure
RestartSec=5
SupplementaryGroups=tty video input dialout gpio i2c

# Required for X11 to access virtual terminal without root
StandardInput=tty
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target
